<div class="modal-header bg-primary">
    <h5 class="modal-title" icon="pi pi-times"><i class="pi pi-pencil"></i> {{list[0].operation}} planing Condidat </h5>
    <button pButton pRipple icon="pi pi-times" (click)="hideDialog()"></button>
</div>
<div class="modal-body">

    <form [formGroup]="formaddexamen">
        <div class="field col-12" *ngIf="list[0].operation == 'Ajout' ">
            <div class="form-group row">
                <div class="col-sm-5">
                    <img src="{{URLcondidatPic+ (list[0].photo | defaultProfileUser)}}" [alt]="list[0].nom" class="shadow-4" width="30%"/>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-6">
                    <label class="col-sm-6 col-form-label fw-bold">{{list[0].condidat_nom +' '+ list[0].condidat_prenom}}</label>
                </div>
            </div>
        </div>

        <div class="field col-12" *ngIf="list[0].operation == 'Update' ">
            <div class="form-group row">
                <div class="col-sm-5">
                    <img src="{{URLcondidatPic+ (list[0].photo | defaultProfileUser)}}" [alt]="list[0].title" class="shadow-4" width="30%"/>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-6">
                    <label class="col-sm-6 col-form-label fw-bold">{{list[0].title}}</label>
                </div>
            </div>
        </div>

        <div class="field col-12">
            <div class="form-group row">
                <label class="col-sm-6 col-form-label fw-bold"><span class="text-danger">*</span>
                    Date début</label>
                <div class="col-sm-6" [ngClass]="{ 'is-invalid': submitted && f['date_deb'].errors }">
                    <p-calendar formControlName="date_deb" dateFormat="yy-mm-dd" [showIcon]="false"
                        [showButtonBar]="true" showTime="true" [hourFormat]="24" (ngModelChange)="setDateFin()">
                    </p-calendar>
                </div>
                <div *ngIf="submitted && f['date_deb'].errors" class="invalid-feedback">
                    <div *ngIf="f['date_deb'].errors['required']">date_deb est obligatoir</div>
                </div>
            </div>
        </div>

        <div class="field col-12">
            <div class="form-group row">
                <label class="col-sm-6 col-form-label fw-bold"><span class="text-danger">*</span>Nbr Heurs</label>
                <div class="col-sm-6">
                    <select class="form-select" formControlName="nbr_heure" (change)="setDateFin()">
                        <option *ngFor="let heur of heurs" [ngValue]="heur">
                            {{ heur }}
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="field col-12">
            <div class="form-group row">
                <label class="col-sm-6 col-form-label fw-bold"><span class="text-danger">*</span>
                    Date fin</label>
                <div class="col-sm-6" [ngClass]="{ 'is-invalid': submitted && f['date_fin'].errors }">
                    <p-calendar formControlName="date_fin" dateFormat="yy-mm-dd" [showIcon]="false"
                        [showButtonBar]="true" showTime="true" [hourFormat]="24" [disabled]="true">
                    </p-calendar>
                </div>
                <div *ngIf="submitted && f['date_fin'].errors" class="invalid-feedback">
                    <div *ngIf="f['date_fin'].errors['required']">date_fin est obligatoir</div>
                </div>
            </div>
        </div>

        <div class="field col-12">
            <div class="form-group row">
                <label class="col-sm-6 col-form-label fw-bold"><span class="text-danger">*</span> Moniteur</label>
                <div class="col-sm-6">
                    <select class="form-select" formControlName="moniteur"
                        [ngClass]="{ 'is-invalid': submitted && f['moniteur'].errors }">
                        <option *ngFor="let moniteur of moniteurs" [ngValue]="moniteur.nom+' '+moniteur.prenom">
                            {{ moniteur.nom +' '+moniteur.prenom}}
                        </option>

                    </select>
                    <div *ngIf="submitted && f['moniteur'].errors" class="invalid-feedback">
                        <div *ngIf="f['moniteur'].errors['required']">moniteur est obligatoir</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="field col-12">
            <div class="form-group row">
                <label class="col-sm-6 col-form-label fw-bold"><span class="text-danger">*</span> Véhicule</label>
                <div class="col-sm-6">
                    <select class="form-select" formControlName="vehicule"
                        [ngClass]="{ 'is-invalid': submitted && f['vehicule'].errors }">
                        <option *ngFor="let vehicule of vehicules" [ngValue]="vehicule.num_imm+' : '+vehicule.couleur" >
                            {{vehicule.num_imm+' : '+vehicule.couleur}}
                        </option>
                    </select>
                    <div *ngIf="submitted && f['vehicule'].errors" class="invalid-feedback">
                        <div *ngIf="f['vehicule'].errors['required']">vehicule est obligatoir</div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer" *ngIf="list[0].operation == 'Ajout' ">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="onSubmit(this.list[0].conduite?.id)"></button>
</div>

<div class="modal-footer " *ngIf="list[0].operation == 'Update' ">
        <button pButton pRipple label="delete" icon="pi pi-trash" class="p-button-text "  (click)="onDelete(this.list[0].clickInfo)"></button>
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="save" icon="pi pi-check" class="p-button-text" (click)="onUpdate(this.list[0].clickInfo)"></button>
</div>

