<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <!--
        <img src="assets/layout/images/{{appMain.config.dark ? 'logo-white' : 'logo-dark'}}.svg" alt="logo"> -->
        <img src="assets/layout/images/logo3.png" alt="logo">
        <span>SM-DEV</span>
    </a>

    <a class="p-link layout-menu-button layout-topbar-button" href="#" (click)="appMain.toggleMenu($event)">
        <i class="pi pi-bars"></i>
    </a>
    <a class="p-link layout-topbar-menu-button layout-topbar-button" href="#" (click)="appMain.toggleTopMenu($event)">
        <i class="pi pi-ellipsis-v"></i>
    </a>

    <div class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active':appMain.topMenuActive}">
        <a [routerLink]="['/calendar']" class="p-link layout-topbar-button">
            <i class="pi pi-calendar"></i>
            <span>Calendrier Conduite</span>
        </a>
        <a class="p-link layout-topbar-button" (click)="show_ch_pass()">
            <i class="pi pi-unlock"></i>
            <span>Changer mdp</span>
        </a>
        <a [routerLink]="['/profile']" class="p-link layout-topbar-button">
            <i class="pi pi-user"></i>
            <span>Mon profile</span>
        </a>
        <a class="p-link layout-topbar-button" (click)="signOut()">
            <i class="pi pi-sign-out"></i>
            <span>Déconexion</span>
        </a>
    </div>
</div>


<form [formGroup]="formChngPWD" >
    <p-dialog [(visible)]="PasswordDialog" [style]="{width: '350px'}" header="Changer Votre MDP !" [modal]="true"
        class="p-fluid">


            <div class="field">
                <label>Ancien Mot de passe</label>
                <input type="password" formControlName="old_password" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f['old_password'].errors }" />
                <div *ngIf="submitted && f['old_password'].errors" class="invalid-feedback">
                    <div *ngIf="f['old_password'].errors['required']">
                        Confirm Password est obligatoir
                    </div>
                    <div *ngIf="f['old_password'].errors['matching']">
                        Confirm Password does not match
                    </div>
                </div>
            </div>

            <div class="field">
                <label>Nouveau Mot de passe</label>
                <input type="password" formControlName="new_password" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f['new_password'].errors }" />
                <div *ngIf="submitted && f['new_password'].errors" class="invalid-feedback">
                    <div *ngIf="f['new_password'].errors['required']">
                        Confirm Password est obligatoir
                    </div>
                    <div *ngIf="f['new_password'].errors['matching']">
                        Confirm Password does not match
                    </div>
                </div>
            </div>

            <div class="field">
                <label>Confirmer Mot de passe</label>
                <input type="password" formControlName="confirm_password" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f['confirm_password'].errors }" />
                <div *ngIf="submitted && f['confirm_password'].errors" class="invalid-feedback">
                    <div *ngIf="f['confirm_password'].errors['required']">
                        Confirm Password est obligatoir
                    </div>
                    <div *ngIf="f['confirm_password'].errors['matching']">
                        Confirm Password does not match
                    </div>
                </div>
            </div>



        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                (click)="hideDialog()"></button>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
                (click)="ChangePSW()"></button>
        </ng-template>

    </p-dialog>
</form>
