<div class="col-12">
    <div class="card mb-12">
        <h5 class="card-title">{{condidat?.nom}} {{condidat?.prenom}}</h5>
        <div class="row no-gutters">
            <div class="col-md-2">
                <img [alt]="condidat?.nom" src="{{URLcondidatPic+ (condidat?.photo | defaultProfileUser)}}" class="img-fluid rounded"
                    style="width: 150px;">
            </div>

            <div class="col-md-1">
            </div>

            <div class="col-md-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <p class="fw-bold">Télephone :</p>
                        </div>
                        <div class="col-md-6">
                            <p class="font-italic text-left">{{condidat?.num_tel}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="fw-bold">Contrat Code :</p>
                        </div>
                        <div class="col-md-6">
                            <p class="font-italic text-left" *ngIf="condidat?.type_c_code == 'Forfaitaire'">{{condidat?.type_c_code}} : {{condidat?.prix_frf_code}} dt</p>
                            <p class="font-italic text-left" *ngIf="condidat?.type_c_code == 'Par heure'">{{condidat?.type_c_code}} : {{condidat?.prix_frf_code}} dt</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="fw-bold">Contrat Conduite :</p>
                        </div>
                        <div class="col-md-6">
                            <p class="font-italic text-left" *ngIf="condidat?.type_c_cond == 'Forfaitaire'">{{condidat?.type_c_cond}} : {{condidat?.prix_frf_cond}} dt</p>
                            <p class="font-italic text-left" *ngIf="condidat?.type_c_cond == 'Par heure'">{{condidat?.type_c_cond}} : {{condidat?.prix_frf_cond}} dt</p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <p class="fw-bold">Nb H programmé :</p>
                        </div>
                        <div class="col-md-6">
                            <p class="font-italic text-left">{{ condidat?.nbr_heur_total[0]?.nb_heur_total || '_'}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="fw-bold">Nb H Effect :</p>
                        </div>
                        <div class="col-md-6">
                            <p class="font-italic text-left">{{  condidat?.nbr_heur_affecter[0]?.nb_heur_affecter || '_' }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="fw-bold">Dû Aujour :</p>
                        </div>
                        <div class="col-md-6">
                            <p class="font-italic text-left">en cours...</p>
                        </div>
                    </div>



                </div>
            </div>

            <div class="col-md-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <p class="fw-bold">Examen :</p>
                        </div>
                        <div class="col-md-6">
                            <p class="font-italic text-left">{{  condidat?.detail_examen?.type_examen || '_' }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="fw-bold">Date Examen :</p>
                        </div>
                        <div class="col-md-6">
                            <p class="font-italic text-left">{{  condidat?.detail_examen?.date_examen || '_' }}</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
