<div class="card">
    <img src="{{URLcondidatPic+ (condidat?.photo | defaultProfileUser)}}" class="card-img-top" />
    <div class="card-body">
        <h5 class="card-title">{{condidat?.nom}} {{condidat?.prenom}}</h5>

        <div class="row">
            <div class="col-md-4 col-xs-12">
                    <div class="row">
                        <div>
                            <span class="fw-bold">Télephone : </span>
                            <span class="fst-italic text-right"> {{condidat?.num_tel}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            <span class="fw-bold">Ct Code : </span>
                            <span class="fst-italic text-right"  *ngIf="condidat?.type_c_code == 'Forfaitaire'"> {{condidat?.type_c_code}} : {{condidat?.prix_frf_code}} dt</span>
                            <span class="fst-italic text-right"  *ngIf="condidat?.type_c_code == 'Par heure'"> {{condidat?.type_c_code}} : {{condidat?.prix_hr_code}} dt</span>
                        </div>
                    </div>

                    <div class="row">
                        <div>
                            <span class="fw-bold">Ct Conduite : </span>
                            <span class="fst-italic text-right"  *ngIf="condidat?.type_c_cond == 'Forfaitaire'">  {{condidat?.type_c_cond}} : {{condidat?.prix_frf_cond}} dt</span>
                            <span class="fst-italic text-right"  *ngIf="condidat?.type_c_cond == 'Par heure'"> {{condidat?.type_c_cond}} : {{condidat?.prix_hr_cond}} dt</span>
                        </div>
                    </div>

            </div>

            <div class="col-md-4 col-xs-12">
                <div class="row">
                    <div>
                        <span class="fw-bold text-primary">Nb H prog : </span>
                        <span class="fst-italic text-right"> {{ nb_heur_total }}</span>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <span class="fw-bold text-primary">Nb H Eff : </span>
                        <span class="fst-italic text-right"> {{ nb_heur_affecter }}</span>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-xs-12">
                <div class="row">
                    <div>
                        <span class="fw-bold text-primary">Examen : </span>
                        <span class="fst-italic text-right">{{ condidat?.detail_examen?.type_examen || '_' }}</span>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <span class="fw-bold text-primary">Date : </span>
                        <span class="fst-italic text-right">{{ condidat?.detail_examen?.date_examen || '_' }}</span>
                    </div>
                </div>

            </div>
        </div>


    </div>
</div>














<!-- <div class="card flex-row">
    <div class="card-body">
        <div class="row">
            <div class="col-md-2" >
                <img class="card-img-left example-card-img-responsive" src="{{URLcondidatPic+ (condidat?.photo | defaultProfileUser)}}" style="width: 80%;"/>
                <h6 class="card-title text-center">{{condidat?.nom}} {{condidat?.prenom}}</h6>
            </div>
            <div class="col-md-3" >
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 mb-2">
                            <p class="fw-bold">Télephone :</p>
                        </div>
                        <div class="col-md-6">
                            <p class="font-italic text-left">{{condidat?.num_tel}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-2">
                            <p class="fw-bold">Contrat Code :</p>
                        </div>
                        <div class="col-md-6">
                            <p class="font-italic text-left" *ngIf="condidat?.type_c_code == 'Forfaitaire'">{{condidat?.type_c_code}} : {{condidat?.prix_frf_code}} dt</p>
                            <p class="font-italic text-left" *ngIf="condidat?.type_c_code == 'Par heure'">{{condidat?.type_c_code}} : {{condidat?.prix_frf_code}} dt</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-2">
                            <p class="fw-bold">Contrat Conduite :</p>
                        </div>
                        <div class="col-md-6">
                            <p class="font-italic text-left" *ngIf="condidat?.type_c_cond == 'Forfaitaire'">{{condidat?.type_c_cond}} : {{condidat?.prix_frf_cond}} dt</p>
                            <p class="font-italic text-left" *ngIf="condidat?.type_c_cond == 'Par heure'">{{condidat?.type_c_cond}} : {{condidat?.prix_frf_cond}} dt</p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-3 ">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <p class="fw-bold">Nb H programmé :</p>
                        </div>
                        <div class="col-md-6">
                            <p class="font-italic text-left">{{ condidat?.nbr_heur_total[0]?.nb_heur_total || '_'}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="fw-bold">Nb H Effect :</p>
                        </div>
                        <div class="col-md-6">
                            <p class="font-italic text-left">{{  condidat?.nbr_heur_affecter[0]?.nb_heur_affecter || '_' }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="fw-bold">Dû Aujour :</p>
                        </div>
                        <div class="col-md-6">
                            <p class="font-italic text-left">en cours...</p>
                        </div>
                    </div>



                </div>
            </div>

            <div class="col-md-3 ">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <p class="fw-bold">Examen :</p>
                        </div>
                        <div class="col-md-6">
                            <p class="font-italic text-left">{{  condidat?.detail_examen?.type_examen || '_' }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="fw-bold">Date Examen :</p>
                        </div>
                        <div class="col-md-6">
                            <p class="font-italic text-left">{{  condidat?.detail_examen?.date_examen || '_' }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
 -->
