<div class="col-12">
    <div class="card mb-12">
        <h5 class="card-title">{{condidat?.nom}} {{condidat?.prenom}}</h5>
        <div class="row no-gutters">
            <div class="col-md-2">
                <img [alt]="condidat.nom" src="{{URLcondidatPic+ (condidat.photo | defaultProfileUser)}}" class="img-fluid rounded"
                    style="width: 150px;">
            </div>

            <div class="col-md-1">
            </div>

            <div class="col-md-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <p class="fw-bold">Télephone :</p>
                        </div>
                        <div class="col-md-6">
                            <p class="font-italic text-left">26354263</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="fw-bold">Contrat Code :</p>
                        </div>
                        <div class="col-md-6">
                            <p class="font-italic text-left">Forfait: 100 d</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="fw-bold">Nb H programmé :</p>
                        </div>
                        <div class="col-md-6">
                            <p class="font-italic text-left">10</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <p class="fw-bold">Télephone :</p>
                        </div>
                        <div class="col-md-6">
                            <p class="font-italic text-left">26354263</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="fw-bold">Contrat Code :</p>
                        </div>
                        <div class="col-md-6">
                            <p class="font-italic text-left">Forfait: 100 d</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="fw-bold">Nb H programmé :</p>
                        </div>
                        <div class="col-md-6">
                            <p class="font-italic text-left">10</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <p class="fw-bold">Télephone :</p>
                        </div>
                        <div class="col-md-6">
                            <p class="font-italic text-left">26354263</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="fw-bold">Contrat Code :</p>
                        </div>
                        <div class="col-md-6">
                            <p class="font-italic text-left">Forfait: 100 d</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="fw-bold">Nb H programmé :</p>
                        </div>
                        <div class="col-md-6">
                            <p class="font-italic text-left">10</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
