<div class="modal-header bg-primary">
    <h5 class="modal-title">{{list[0].value}} Bureau</h5>
    <button pButton pRipple icon="pi pi-times" (click)="hideDialog()"></button>
</div>
<div class="modal-body">
    <form [formGroup]="formaddbureau">

        <div class="field">
            <label><span class="text-danger">*</span>Nom du bureau</label>
            <input class="form-control" type="text" formControlName="nom"
                [ngClass]="{ 'is-invalid': submitted && f['nom'].errors }" />
            <div *ngIf="submitted && f['nom'].errors" class="invalid-feedback">
                <div *ngIf="f['nom'].errors['required']">nom est obligatoir</div>
            </div>
        </div>

        <div class="field">
            <label><span class="text-danger">*</span>Séquence </label>
            <input class="form-control" type="text" formControlName="sequence"
                [ngClass]="{ 'is-invalid': submitted && f['sequence'].errors }" />

            <div *ngIf="submitted && f['sequence'].errors" class="invalid-feedback">
                <div *ngIf="f['sequence'].errors['required']">sequence est obligatoir</div>
            </div>
        </div>

        <div class="field">
            <label><span class="text-danger">*</span>Matricule fiscal</label>
            <input type="text" formControlName="mat_fiscal" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['mat_fiscal'].errors }" />
            <div *ngIf="submitted && f['mat_fiscal'].errors" class="invalid-feedback">
                <div *ngIf="f['mat_fiscal'].errors['required']">mat_fiscal est obligatoir</div>
            </div>
        </div>

        <div class="field">
            <label><span class="text-danger">*</span>Adresse</label>
            <input type="text" formControlName="adresse" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['adresse'].errors }" />
            <div *ngIf="submitted && f['adresse'].errors" class="invalid-feedback">
                <div *ngIf="f['adresse'].errors['required']">adresse est obligatoir</div>
            </div>
        </div>

        <div class="field">
            <label><span class="text-danger">*</span>Nom comercial</label>
            <input type="text" formControlName="nom_comercial" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['nom_comercial'].errors }" />
            <div *ngIf="submitted && f['nom_comercial'].errors" class="invalid-feedback">
                <div *ngIf="f['nom_comercial'].errors['required']">nom_comercial est obligatoir</div>
            </div>
        </div>

        <div *ngIf=" list[0].operation == 'add' ">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                (click)="hideDialog()"></button>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="onSubmit()"></button>
        </div>

        <div *ngIf=" list[0].operation == 'update' ">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                (click)="hideDialog()"></button>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
                (click)="onUpdate(list[0].bureau.id)"></button>
        </div>

    </form>
</div>
