<div class="modal-header bg-primary">
    <h5 class="modal-title">{{list[0].value}} Code</h5>
    <button pButton pRipple icon="pi pi-times" (click)="hideDialog()"></button>
</div>
<div class="modal-body modal-lg">
    <form [formGroup]="formaddcode">

        <div class="field col-12">
            <div class="form-group row">
                <label class="col-sm-6 col-form-label fw-bold"><span class="text-danger">*</span>
                    Date début</label>
                <div class="col-sm-6" [ngClass]="{ 'is-invalid': submitted && f['date_deb'].errors }">
                    <p-calendar formControlName="date_deb" dateFormat="yy-mm-dd" [showIcon]="false"
                        [showButtonBar]="true" showTime="true" [hourFormat]="24" (ngModelChange)="setDateFin()">
                    </p-calendar>
                </div>
                <div *ngIf="submitted && f['date_deb'].errors" class="invalid-feedback">
                    <div *ngIf="f['date_deb'].errors['required']">date_deb est obligatoir</div>
                </div>
            </div>
        </div>

        <div class="field col-12">
            <div class="form-group row">
                <label class="col-sm-6 col-form-label fw-bold"><span class="text-danger">*</span>Nbr Heurs</label>
                <div class="col-sm-6">
                    <select class="form-select" formControlName="nbr_heure" (change)="setDateFin()">
                        <option *ngFor="let heur of heurs" [ngValue]="heur">
                            {{ heur }}
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="field col-12">
            <div class="form-group row">
                <label class="col-sm-6 col-form-label fw-bold"><span class="text-danger">*</span>
                    Date fin</label>
                <div class="col-sm-6" [ngClass]="{ 'is-invalid': submitted && f['date_fin'].errors }">
                    <p-calendar formControlName="date_fin" dateFormat="yy-mm-dd" [showIcon]="false"
                        [showButtonBar]="true" showTime="true" [hourFormat]="24" [disabled]="true">
                    </p-calendar>
                </div>
                <div *ngIf="submitted && f['date_fin'].errors" class="invalid-feedback">
                    <div *ngIf="f['date_fin'].errors['required']">date_fin est obligatoir</div>
                </div>
            </div>
        </div>



    </form>
</div>


<div class="modal-footer">
    <div *ngIf=" list[0].operation == 'add' ">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="onSubmit()"></button>
    </div>

    <div *ngIf=" list[0].operation == 'update' ">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
            (click)="onUpdate(list[0].code.id)"></button>
    </div>
</div>

