<div class="card">
    <h5>Renseignements Personnels</h5>

    <div class="row">
        <div class="col-6" style="padding-right: 2%;">
            <div class="p-fluid p-formgrid grid">
                <div class="field col-12">
                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-6 col-form-label fw-bold"><span
                                class="text-danger">*</span> Catégorie</label>
                        <div class="col-sm-6">


                            <select class="form-select" [(ngModel)]="condidat.categorie">
                                <option *ngFor="let categorie of categories" [ngValue]="categorie">
                                    {{ categorie }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="field col-12">
                    <div class="form-group row">
                        <label   class="col-sm-6 col-form-label fw-bold"><span
                                class="text-danger">*</span> Nom</label>
                        <div class="col-sm-6">
                            <input id="address" pInputText [(ngModel)]="condidat.nom"/>
                        </div>
                    </div>
                </div>

                <div class="field col-12">
                    <div class="form-group row">
                        <label   class="col-sm-6 col-form-label fw-bold"><span
                                class="text-danger">*</span> CIN</label>
                        <div class="col-sm-6">
                            <input id="address" pInputText [(ngModel)]="condidat.cin"/>
                        </div>
                    </div>
                </div>
                <div class="field col-12">
                    <div class="form-group row">
                        <label   class="col-sm-6 col-form-label fw-bold"><span
                                class="text-danger">*</span> Telephone </label>
                        <div class="col-sm-6">
                            <input id="address" pInputText [(ngModel)]="condidat.num_tel"/>
                        </div>
                    </div>
                </div>

                <div class="field col-12">
                    <div class="form-group row">
                        <label   class="col-sm-6 col-form-label fw-bold"><span
                                class="text-danger">*</span> Bureau </label>
                        <div class="col-sm-6">
                            <select class="form-select" [(ngModel)]="condidat.bureau">
                                <option *ngFor="let bureau of bureaux" [ngValue]="bureau">
                                    {{ bureau }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="field col-12">
                    <div class="form-group row">
                        <label   class="col-sm-6 col-form-label fw-bold"><span
                                class="text-danger">*</span> Pièces fournies </label>
                        <div class="col-sm-6">
                            <div class="grid">

                                <div class="col-12 md:col-4">
                                    <div class="field-checkbox mb-0">
                                        <p-checkbox name="group1" value="Photos" [(ngModel)]="selectedpiece_fournit">
                                        </p-checkbox>
                                        <label for="Photos">Photos</label>
                                    </div>
                                </div>
                                <div class="col-12 md:col-4">
                                    <div class="field-checkbox mb-0">
                                        <p-checkbox name="group1" value="Certificat médical" [(ngModel)]="selectedpiece_fournit">
                                        </p-checkbox>
                                        <label for="CM">Certificat médical</label>
                                    </div>
                                </div>
                                <div class="col-12 md:col-4">
                                    <div class="field-checkbox mb-0">
                                        <p-checkbox name="group1" value="Quittance Paiement" [(ngModel)]="selectedpiece_fournit">
                                        </p-checkbox>
                                        <label for="QP">Quittance Paiement</label>
                                    </div>
                                </div>
                                <div class="col-12 md:col-4">
                                    <div class="field-checkbox mb-0">
                                        <p-checkbox name="group1" value="CIN" [(ngModel)]="selectedpiece_fournit"></p-checkbox>
                                        <label for="CIN">CIN</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <div class="col-6" style="padding-left: 2%;">
            <div class="p-fluid p-formgrid grid">
                <div class="field col-12">
                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-6 col-form-label fw-bold"><span
                                class="text-danger">*</span> Examen</label>
                        <div class="col-sm-6">
                            <div class="grid">
                                <div class="col-12 md:col-4">
                                    <div class="field-radiobutton mb-0">
                                        <p-radioButton name="Conduite" value="Conduite" [(ngModel)]="condidat.examen" id="Conduite"></p-radioButton>
                                        <label for="Conduite">Conduite</label>
                                    </div>
                                </div>
                                <div class="col-12 md:col-4">
                                    <div class="field-radiobutton">
                                        <p-radioButton name="code" value="Code" [(ngModel)]="condidat.examen" id="code"></p-radioButton>
                                        <label for="code">Code</label>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="field col-12">
                    <div class="form-group row">
                        <label   class="col-sm-6 col-form-label fw-bold"><span
                                class="text-danger">*</span> Prénom</label>
                        <div class="col-sm-6">
                            <input id="address" pInputText [(ngModel)]="condidat.prenom" />
                        </div>
                    </div>
                </div>

                <div class="field col-12">
                    <div class="form-group row">
                        <label   class="col-sm-6 col-form-label fw-bold"><span
                                class="text-danger">*</span> Date_naissance</label>
                        <div class="col-sm-6">
                            <p-calendar [showIcon]="true" [showButtonBar]="true" [(ngModel)]="condidat.date_naiss" dateFormat="yy-mm-dd"></p-calendar>
                        </div>
                    </div>
                </div>
                <div class="field col-12">
                    <div class="form-group row">
                        <label   class="col-sm-6 col-form-label fw-bold"><span
                                class="text-danger">*</span> Adresse </label>
                        <div class="col-sm-6">
                            <input id="address" pInputText [(ngModel)]="condidat.adresse">
                        </div>
                    </div>
                </div>

                <div class="field col-12">
                    <div class="form-group row">
                        <label   class="col-sm-6 col-form-label fw-bold"><span
                                class="text-danger">*</span> Email</label>
                        <div class="col-sm-6">
                            <input id="address" pInputText [(ngModel)]="condidat.email" />
                        </div>
                    </div>
                </div>


                <div class="field col-12">
                    <div class="form-group row">
                        <label   class="col-sm-6 col-form-label fw-bold"> Photo
                            </label>
                        <div class="col-sm-6">
                        <input
                        id="image"
                        type="file"
                        class="form-control"
                        (change)="onFileChange($event)"
                        >


                    <img [src]="imageSrc" *ngIf="imageSrc" style="height: 150px; width:150px">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-6">
        <div class="card">
            <h5>Contrat Code</h5>
            <div class="p-fluid p-formgrid grid">
                <div class="field col-12">
                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-6 col-form-label fw-bold"><span
                                class="text-danger">*</span> Type Contrat</label>
                        <div class="col-sm-6">
                            <div class="grid">
                                <div class="col-12 md:col-4">
                                    <div class="field-radiobutton mb-0">
                                        <p-radioButton name="Forfaitaire" value="Forfaitaire" [(ngModel)]="condidat.type_c_code" id="Forfaitaire"></p-radioButton>
                                        <label for="Forfaitaire">Forfaitaire</label>
                                    </div>
                                </div>
                                <div class="col-12 md:col-4">
                                    <div class="field-radiobutton">
                                        <p-radioButton name="ParHr" value="Par heure" [(ngModel)]="condidat.type_c_code" id="ParHr"></p-radioButton>
                                        <label for="ParHr">Par heure</label>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

                <div class="field col-12" *ngIf="condidat.type_c_code=='Par heure'">
                    <div class="form-group row">
                        <label htmlFor="" class="col-sm-6 col-form-label fw-bold"><span
                                class="text-danger">*</span> Prix Heure Code</label>
                        <div class="col-sm-6">
                            <input  pInputText [(ngModel)]="condidat.prix_hr_code" />
                        </div>
                    </div>
                </div>

                <div class="field col-12" *ngIf="condidat.type_c_code=='Forfaitaire'">
                    <div class="form-group row">
                        <label   class="col-sm-6 col-form-label fw-bold"><span
                                class="text-danger">*</span> Montant Forfaitaire </label>
                        <div class="col-sm-6">
                            <input [(ngModel)]="condidat.prix_frf_code"  pInputText />
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <h5>Contrat Conduite</h5>
            <div class="p-fluid p-formgrid grid">
                <div class="field col-12">
                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-6 col-form-label fw-bold"><span
                                class="text-danger">*</span> Type Contrat</label>
                        <div class="col-sm-6">
                            <div class="grid">
                                <div class="col-12 md:col-4">
                                    <div class="field-radiobutton mb-0">
                                        <p-radioButton name="CondForfaitaire" value="Forfaitaire" [(ngModel)]="condidat.type_c_cond" ></p-radioButton>
                                        <label for="Forfaitaire">Forfaitaire</label>
                                    </div>
                                </div>
                                <div class="col-12 md:col-4">
                                    <div class="field-radiobutton">
                                        <p-radioButton name="CondParHr" value="Par heure"  [(ngModel)]="condidat.type_c_cond" ></p-radioButton>
                                        <label for="CondParHr">Par heure</label>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="field col-12" *ngIf="condidat.type_c_cond=='Par heure'">
                    <div class="form-group row">
                        <label htmlFor="" class="col-sm-6 col-form-label fw-bold"><span
                                class="text-danger">*</span> Prix Heure Cond</label>
                        <div class="col-sm-6">
                            <input  pInputText [(ngModel)]="condidat.prix_hr_cond" />
                        </div>
                    </div>
                </div>

                <div class="field col-12" *ngIf="condidat.type_c_cond=='Forfaitaire'">
                    <div class="form-group row">
                        <label   class="col-sm-6 col-form-label fw-bold"><span
                                class="text-danger">*</span> Montant Forfaitaire </label>
                        <div class="col-sm-6">
                            <input  [(ngModel)]="condidat.prix_frf_cond" pInputText />
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="card">
        <h5>Historique Avant le Système</h5>
        <div class="row">
            <div class="col-6" style="padding-right: 2%;">
                <div class="p-fluid p-formgrid grid">

                    <div class="field col-12">
                        <div class="form-group row">
                            <label   class="col-sm-6 col-form-label fw-bold"><span
                                    class="text-danger">*</span> Avant Le</label>

                            <div class="col-sm-6">
                                <p-calendar [showIcon]="true" [showButtonBar]="true" [(ngModel)]="condidat.hist_av_date" dateFormat="yy-mm-dd"></p-calendar>
                            </div>

                        </div>
                    </div>

                    <div class="field col-12">
                        <div class="form-group row">
                            <label   class="col-sm-6 col-form-label fw-bold"><span
                                    class="text-danger">*</span> Montant Total Payé</label>
                            <div class="col-sm-6">
                                <input  [(ngModel)]="condidat.hist_montant_paye" pInputText />
                            </div>
                        </div>
                    </div>

                    <div class="field col-12">
                        <div class="form-group row">
                            <label   class="col-sm-6 col-form-label fw-bold"> Historique Nb Heures Codes
                                </label>
                            <div class="col-sm-6">
                                <input  pInputText [ngModel]="condidat.hist_nb_hr_code !== 'nul' ? condidat.hist_nb_hr_code : ' ' " (ngModelChange)="condidat.hist_nb_hr_code=$event"/>
                            </div>
                        </div>
                    </div>

                    <div class="field col-12">
                        <div class="form-group row">
                            <label   class="col-sm-6 col-form-label fw-bold"> Historique Nb Heures Conduites
                                </label>
                            <div class="col-sm-6">
                                <input pInputText [ngModel]="condidat?.hist_nb_hr_cond" (ngModelChange)="condidat.hist_nb_hr_cond=$event" />
                            </div>
                        </div>
                    </div>
                    <div class="field col-12">
                        <div class="form-group row">
                            <label   class="col-sm-6 col-form-label fw-bold"> Hist Nb Réinscription Conduite
                                </label>
                            <div class="col-sm-6">
                                <input  [(ngModel)]="condidat.hist_nb_reinsc_cond" pInputText />
                            </div>
                        </div>
                    </div>


                </div>
            </div>

            <div class="col-6" style="padding-left: 2%;">
                <div class="p-fluid p-formgrid grid">

                    <div class="field col-12">
                        <div class="form-group row">
                            <label   class="col-sm-6 col-form-label fw-bold"><span
                                    class="text-danger">*</span> Caisse</label>
                            <div class="col-sm-6">
                                <select class="form-select" [(ngModel)]="condidat.bureau">
                                    <option *ngFor="let bureau of bureaux" [ngValue]="bureau">
                                        {{ bureau }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="field col-12">
                        <div class="form-group row">
                            <label   class="col-sm-6 col-form-label fw-bold"> Historique Nb Examens Codes
                                </label>
                            <div class="col-sm-6">
                                <input [(ngModel)]="condidat.hist_nb_exam_code" pInputText />
                            </div>
                        </div>
                    </div>
                    <div class="field col-12">
                        <div class="form-group row">
                            <label   class="col-sm-6 col-form-label fw-bold"> Historique Nb Examens Conduites
                                </label>
                            <div class="col-sm-6">
                                <input [(ngModel)]="condidat.hist_nb_exam_cond" pInputText />
                            </div>
                        </div>
                    </div>
                    <div class="field col-12">
                        <div class="form-group row">
                            <label   class="col-sm-6 col-form-label fw-bold"> Hist Nb Réinscription Code
                                </label>
                            <div class="col-sm-6">
                                <input [(ngModel)]="condidat.hist_nb_reinsc_code" pInputText />
                            </div>
                        </div>
                    </div>
                    <div class="field col-12">
                        <div class="form-group row">
                            <label   class="col-sm-6 col-form-label fw-bold"> Hist Nb Droit Examen
                                </label>
                            <div class="col-sm-6">
                                <input [(ngModel)]="condidat.hist_nb_droit_exam" pInputText />
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-4">
        <div class="card">
            <h5>Etat</h5>
            <div class="p-fluid p-formgrid grid">
                <div class="field col-12">
                    <div class="row">
                        <div class="col-12" style="padding-left: 2%;">
                            <div class="p-fluid p-formgrid grid">
                                <div class="field col-12">
                                    <div class="form-group row">
                                        <label for="staticEmail" class="col-sm-6 col-form-label fw-bold"><span
                                                class="text-danger">*</span> état condidiat</label>
                                        <div class="col-sm-6">
                                            <div class="grid">
                                                <div class="col-12 md:col-4">
                                                    <div class="field-radiobutton mb-0">
                                                        <p-radioButton name="En cours" value="En cours" [(ngModel)]="condidat.etat" id="En cours"></p-radioButton>
                                                        <label for="En cours">En cours</label>
                                                    </div>
                                                </div>
                                                <div class="col-12 md:col-4">
                                                    <div class="field-radiobutton">
                                                        <p-radioButton name="Archivé" value="Archivé" [(ngModel)]="condidat.etat" id="Archivé"></p-radioButton>
                                                        <label for="Archivé">Archivé</label>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-right">
    <button pButton pRipple label="Supprimer" icon="pi pi-trash" iconPos="right"
        class="mr-2 mb-2 p-button-danger" (click)="deleteCondidat(condidat)"></button>
    <button pButton pRipple label="Modifier" (click)="UpdateCondidat()" icon="pi pi-user-edit" iconPos="right"
        class="mr-2 mb-2 p-button-primary"></button>
</div>

<p-dialog [(visible)]="deleteCondidatDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="condidat">Etes-vous sûr que vous voulez supprimer <b>{{condidat?.nom}}</b>?</span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteCondidatDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
    </ng-template>
</p-dialog>
