<td style="min-width: 8rem;">
    <span class="image-text ml-2">{{vehicule?.num_imm}}</span>
</td>
<td style="min-width: 8rem;">
    <span class="image-text ml-2">{{vehicule?.marque}}</span>
</td>

<td style="min-width: 10rem;">
    {{vehicule?.etat}}
</td>

<td style="min-width: 10rem;">
    {{vehicule?.couleur}}
</td>

<td>
    <div class="flex">
        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded btn-sm p-button-success mr-2"
            (click)="openModalveh()"></button>
        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
            (click)="deletevehicule(vehicule)"></button>
    </div>
</td>

<p-dialog [(visible)]="deleteVehiculeDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="vehicule">Are you sure you want to delete <b>{{vehicule.num_imm}}</b>?</span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
            (click)="deleteVehiculeDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
    </ng-template>
</p-dialog>

