
<div class="content-section documentation">
    <p-tabView>
        <p-tabPanel header="Véhicules" leftIcon="pi pi-car">
            <app-vehicule></app-vehicule>
        </p-tabPanel>

        <p-tabPanel header="Bureaux" leftIcon="pi pi-building">
            <app-bureaux></app-bureaux>
        </p-tabPanel>

        <p-tabPanel header="Caisse" leftIcon="pi pi-dollar">
            <app-caisse></app-caisse>
        </p-tabPanel>

        <p-tabPanel header="Secrétaires" leftIcon="pi pi-users">
           <app-secritaire></app-secritaire>
        </p-tabPanel>

        <p-tabPanel header="Gérant" leftIcon="pi pi-user">
            <app-gerant></app-gerant>
        </p-tabPanel>

        <p-tabPanel header="Moniteurs" leftIcon="pi pi-book">
            <app-moniteur></app-moniteur>
        </p-tabPanel>

        <p-tabPanel header="Examinateurs" leftIcon="pi pi-book">
            <app-examinateur></app-examinateur>>
        </p-tabPanel>

        <p-tabPanel header="Centre d'examens" leftIcon="pi pi-book">
            <app-centre-examen></app-centre-examen>
        </p-tabPanel>

        <p-tabPanel header="Receveurs" leftIcon="pi pi-book">
            <app-receveurs></app-receveurs>
        </p-tabPanel>

    </p-tabView>
</div>





