

<div class="card">
    <h3>Agenda</h3>

        <div class="col-12">
            <full-calendar *ngIf='calendarVisible' [options]='calendarOptions' [locales]='locales' locale='fr'>
            </full-calendar>
        </div>

</div>




<div class="px-3 py-1 shadow-2 flex flex-column md:flex-row md:align-items-center justify-content-between mb-3"
    [ngStyle]="{borderRadius: '1rem',
    background: 'linear-gradient(0deg, rgba(0, 123, 255, 0.5), rgba(0, 123, 255, 0.5)), linear-gradient(92.54deg, #1C80CF 47.88%, #FFFFFF 100.01%)'}">
    <div>
    <!-- <div class="text-blue-100 font-medium text-xl mt-2 mb-3">Bienvenu</div> -->
    <div class="text-white font-medium text-4xl">Auto Ecole {{MyschoolName}}</div>
    </div>
</div>
