<td style="min-width: 8rem;">
    <span class="image-text ml-2">{{moniteur.nom}}</span>
</td>
<td style="min-width: 8rem;">
    <span class="image-text ml-2">{{moniteur.prenom}}</span>
</td>

<td style="min-width: 10rem;">
    {{moniteur.telephone}}
</td>

<td style="min-width: 10rem;">
    {{moniteur.adresse}}
</td>

<td style="min-width: 10rem;">
    {{moniteur.formation}}
</td>

<td style="min-width: 10rem;">
    {{moniteur.prix_conduite}}
</td>

<td style="min-width: 8rem;">
    <div class="flex">
        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded btn-sm p-button-success mr-2"
            (click)="openModalMon()"></button>
        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
            (click)="deletemoniteur(moniteur)"></button>
    </div>
</td>


<p-dialog [(visible)]="deleteMoniteurDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="moniteur">Are you sure you want to delete <b>{{moniteur.nom}}</b>?</span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
            (click)="deleteMoniteurDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
    </ng-template>
</p-dialog>
